@font-face {
    font-family: GE;
    src: url(../fonts/GE\ SS\ Two/GE_SS_Two_Light.otf);
    }
    @font-face {
    font-family: GEBold;
    src: url(../fonts/GE\ SS\ Two/GE_SS_Two_Bold.otf);
    }
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: GE !important;
}
h2
{
    font-family: GE;
}
h3
{
    font-family: GEBold !important;
}
h4
{
    font-family: GE;
}
h5
{
    font-family: GE;
}
.caro
{
    height: 1240px !important;
}
.carousel .slide
{
    background-color: transparent !important;
    height: 1140px;
}
.factory_margin
{
    margin-top: -35px;
}
.caro_indicators
{
    position: relative;   
    left: 30%;
    top: 5px;
    z-index: 1;
    width: 150%;

}
.carousel
{
    overflow: visible !important;
}
.indi_pos1
{
    position: absolute;
    left: -55px !important;
    top: -165px;

}
.indi_pos2
{
    position: absolute;
    left: 210px !important;
    top: -165px;

}
.indi_pos3
{
    position: absolute;
    top: -165px;
    left: 485px !important;

}
#myVideo 
{
position: relative;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
margin-top: -55px !important;
}
i.fa.fa-bars:before
{
    position: relative;
    top: 25px;
    color: white;
    font-size: 35px;
    left: 45px;
    z-index: 9999;
}
.header-navigation
{
    height: 85px;
}
.main-nav__main-navigation 
{
    display: none;
}
.main-nav__navigation-box li a
{
    position: relative;
    margin-top: 27px;
    text-align: right;
    font-family: GE !important;
    font-size: 25px;
}
.rectangle
{
    background-color: whitesmoke;
    opacity: 0.5;
    border: 1px;
    margin-top: -655px;
    border-radius: 45px;
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}
.logox
{
    margin-left: auto;
    margin-right: auto;
    width: 75% !important;
    opacity: 1 !important;
}
.preloader__image
{
    width: 25%;
}
.header_3_images
{
    position: absolute;
    z-index: 21;
    top: -155px;
    left:30%;
}
.slider_move
{
    position: relative;
    left: 55%;
    top: -1041px;
}
.move
{
    position: relative;
    top: 125px !important;
    height: 1200px !important;
    width: 45%;
}
.leaf-width
{
    width: 60% !important;
}
.welcome_two
{
    margin-top: -185px !important;
}
.recent_project_three
{
    margin-top: -155px !important;
    height: 920px !important;
}
.project_three_content
{
    position: relative;
    top: -20px;
    background-color: white;
    border: 1px;
    border-radius: 35px;
    text-align: center;
    width: 75%;
    box-shadow: 2px 10px 28px rgba(50, 0, 85, 0.12);
    left: 30px;
}
.project_three_content h2
{
    color: rgb(121, 121, 121);
    font-size: 15px;
    padding: 25px;
}
.project_three_hover_box
{
    background-color: white;
    border: 1px;
    border-radius: 45px;
    text-align: center;
    width: 75%;
    box-shadow: 2px 10px 28px rgba(50, 0, 85, 0.12);
    left: 30px;
}
.project_three_hover_box p
{
    color: gray;
    font-size: 12px;
    padding: 25px;
}
.img_padding
{
    padding: 10px;
}
.nemo
{
    position: relative;
    left: 38%;
}
.phone-mock
{
    position: relative;
    left: 10%;
}
.eshterek
{
    position: relative;
    top: 100px;
    right: 32%;
}
.eshterek h3
{
    color: wheat;
}
.arrowz
{
    position: absolute;
    margin-top: -45px;
    left: 45%;
    width: 4%;
}
.edkhol
{
    position: relative;
    top: 105px;
    color: black;
}
.etegahat
{
    border: 1px;
    border-radius: 40px;
    background-color: #66594f;
    font-size: 15px;
    padding: 15px;
    color: white;
}
.lightgray
{
    background-color: lightgray !important;
}
.factory_img
{
    margin-top: -295px !important;
}
.first_slider_position
{
    width: 48%;
    position: relative;
    top: -55px;
    left: 1%;
}
.second_slider_position
{
    width: 48%;
    position: relative;
    left: 51%;
    top: -836px;
}
.second_slider_height
{
    height: 468px !important;
}
.eco_title h2
{
    margin-top: -85px;
}
.curved
{
    position: absolute;
    /* bottom: 10px; */
    left:70%;
    margin-top: 855px;
    width: 555px !important;
}
.curved_width
{
    width: 555px !important;
}
@media (min-width:1280px) and (max-width:1365px)
{
    .carousel .slide
    {
        background-color: transparent !important;
        height: 790px;
    }
    .factory_margin
    {
        margin-top: 0px !important;
        height: 960px !important;
    }
    .caro_indicators
    {
        position: relative;   
        left: 20%;
        top: -5px;
        z-index: 1;
    }
    .rectangle
    {
        margin-top: -525px;
    }
    .project_three_content
    {
        left: 15px;
        width: 85%;
        margin-top: 5px;
    }
    .project_three_content h2
    {
        padding: 25px;
        line-height: 17px;
    }
    .project_three_hover_box
    {
        left: 15px;
        width: 85%;
        margin-bottom: 25px;
    }
    .project_three_hover_box p
    {
        padding: 15px;
        line-height: 17px;
    }
    .eco_friendly_title h2 {
        font-size: 30px !important;
    }
    .first_slider_position
    {
        position: relative;
        top: -55px;
    }
    .second_slider_position
    {
        position: relative;
        top: -760px;
    }
    .second_slider_height
    {
        height: 394px !important;
    }
    .img_padding
    {
        padding:4px;
    }
    .eco_friendly_content h2
    {
        margin-top: -85px;
    }
    .recent_project_three
    {
        height: 829px !important;
    }
    .curved
    {
        position: absolute;
        /* bottom: 10px; */
        left:55%;
        margin-top: 555px;
        width: 555px !important;
    }
    .curved_width
    {
        width: 555px !important;
    }
}
@media (min-width:1366px) and (max-width:1439px)
{
    .carousel .slide
    {
        background-color: transparent !important;
        height: 790px;
    }
    .factory_margin
    {
        margin-top: 0px !important;
        height: 960px !important;
    }
    .caro_indicators
    {
        position: relative;   
        left: 20%;
        top: 15px;
        z-index: 1;
    }
    .rectangle
    {
        margin-top: -525px;
    }
    .project_three_content
    {
        left: 15px;
        width: 85%;
        margin-top: 5px;
    }
    .project_three_content h2
    {
        padding: 25px;
        line-height: 17px;
    }
    .project_three_hover_box
    {
        left: 15px;
        width: 85%;
        margin-bottom: 25px;
    }
    .project_three_hover_box p
    {
        padding: 15px;
        line-height: 17px;
    }
    .eco_friendly_title h2 {
        font-size: 30px !important;
    }
    .first_slider_position
    {
        position: relative;
        top: -55px;
    }
    .second_slider_position
    {
        position: relative;
        top: -776px;
    }
    .second_slider_height
    {
        height: 405px !important;
    }
    .img_padding
    {
        padding:4px;
    }
    .eco_friendly_content h2
    {
        margin-top: -85px;
    }
    .recent_project_three
    {
        height: 839px !important;
    }
    .curved
    {
        position: absolute;
        /* bottom: 10px; */
        left:55%;
        margin-top: 555px;
        width: 555px !important;
    }
    .curved_width
    {
        width: 555px !important;
    }

}
@media (min-width:1440px) and (max-width:1679px)
{
    .project_three_content
    {
        left: 45px;
        margin-top: 25px;
    }
    .project_three_hover_box
    {
        left: 45px;
        margin-top: 25px;
    }
    .project_three_hover_box p
    {
        font-size: 17px !important;
    }
    .carousel .slide
    {
        background-color: transparent !important;
        height: 830px;
    }
    .factory_margin
    {
        margin-top: 0px !important;
        height: 1000px !important;
    }
    .caro_indicators
    {
        position: relative;   
        left: 20%;
        top: 25px;
        z-index: 1;
    }
    .rectangle
    {
        margin-top: -545px;
    }
    .project_three_content
    {
        left: 15px;
        width: 85%;
        margin-top: 5px;
    }
    .project_three_content h2
    {
        padding: 25px;
        line-height: 17px;
    }
    .project_three_hover_box
    {
        left: 15px;
        width: 85%;
        margin-bottom: 25px;
    }
    .project_three_hover_box p
    {
        padding: 15px;
        line-height: 17px;
    }
    .eco_friendly_title h2 {
        font-size: 30px !important;
    }
    .first_slider_position
    {
        position: relative;
        top: -55px;
    }
    .second_slider_position
    {
        position: relative;
        top: -784px;
    }
    .second_slider_height
    {
        height: 416px !important;
    }
    .img_padding
    {
        padding:4px;
    }
    .eco_friendly_content h2
    {
        margin-top: -85px;
    }
    .recent_project_three
    {
        height: 849px !important;
    }
    .curved
    {
        position: absolute;
        /* bottom: 10px; */
        left:60%;
        margin-top: 595px;
        width: 555px !important;
    }
    .curved_width
    {
        width: 555px !important;
    }

}
@media (min-width:1680px) and (max-width:1919px)
{
    .carousel .slide
    {
        background-color: transparent !important;
        height: 990px;
    }
    .factory_margin
    {
        margin-top: 0px !important;
        height: 1200px !important;
    }
    .caro_indicators
    {
        position: relative;   
        left: 25%;
        top: 15px;
        z-index: 1;
    }
    .project_three_content
    {
        left: 15px;
        width: 85%;
        margin-top: 5px;
    }
    .project_three_content h2
    {
        padding: 25px;
        line-height: 17px;
    }
    .project_three_hover_box
    {
        left: 15px;
        width: 85%;
        margin-bottom: 25px;
    }
    .project_three_hover_box p
    {
        padding: 15px;
        line-height: 17px;
    }
    .eco_friendly_title h2 {
        font-size: 30px !important;
    }
    .first_slider_position
    {
        position: relative;
        top: -55px;
    }
    .second_slider_position
    {
        position: relative;
        top: -801px;
    }
    .second_slider_height
    {
        height: 434px !important;
    }
    .img_padding
    {
        padding:4px;
    }
    .eco_friendly_content h2
    {
        margin-top: -85px;
    }
    .recent_project_three
    {
        height: 879px !important;
    }
    .curved
    {
        position: absolute;
        /* bottom: 10px; */
        left:65%;
        margin-top: 755px;
        width: 555px !important;
    }
    .curved_width
    {
        width: 555px !important;
    }
}
@media (min-width:1956px) and (max-width: 2156px) /* 90% */
{
        .rectangle
        {
            margin-top: -755px;
        }
        .carousel .slide
        {
            background-color: transparent !important;
            height: 1290px;
        }
        .factory_margin
        {
            margin-top: 0px !important;
            height: 1200px !important;
        }
        .caro_indicators
        {
            position: relative;   
            left: 32%;
            top: -25px;
            z-index: 1;
        }
        .project_three_content
        {
            left: 15px;
            width: 85%;
            margin-top: 5px;
        }
        .project_three_content h2
        {
            padding: 25px;
            line-height: 17px;
        }
        .project_three_hover_box
        {
            left: 15px;
            width: 85%;
            margin-bottom: 25px;
        }
        .project_three_hover_box p
        {
            padding: 15px;
            line-height: 17px;
        }
        .eco_friendly_title h2 {
            font-size: 30px !important;
        }
        .first_slider_position
        {
            position: relative;
            top: -55px;
        }
        .second_slider_position
        {
            position: relative;
            top: -865px;
        }
        .second_slider_height
        {
            height: 502px !important;
        }
        .img_padding
        {
            padding:4px;
        }
        .eco_friendly_content h2
        {
            margin-top: -85px;
        }
        .recent_project_three
        {
            height: 979px !important;
        }
        .curved
        {
            position: absolute;
            /* bottom: 10px; */
            left:60%;
            margin-top: 655px;
            width: 755px !important;
        }
        .curved_width
        {
            width: 755px !important;
        }
        .arrowz
        {
            margin-left: 72px;
        }
}
@media (min-width:2560px) and (max-width:3839px)
{
    .rectangle
    {
        margin-top: -855px;
    }
    .carousel .slide
    {
        background-color: transparent !important;
        height: 1490px;
    }
    .factory_margin
    {
        margin-top: 0px !important;
        height: 1200px !important;
    }
    .caro_indicators
    {
        position: relative;   
        left: 35%;
        top: 15px;
        z-index: 1;
    }
    .project_three_content
    {
        left: 15px;
        width: 85%;
        margin-top: 5px;
    }
    .project_three_content h2
    {
        padding: 25px;
        line-height: 17px;
    }
    .project_three_hover_box
    {
        left: 15px;
        width: 85%;
        margin-bottom: 25px;
    }
    .project_three_hover_box p
    {
        padding: 15px;
        line-height: 17px;
    }
    .eco_friendly_title h2 {
        font-size: 30px !important;
    }
    .first_slider_position
    {
        position: relative;
        top: -55px;
    }
    .second_slider_position
    {
        position: relative;
        top: -904px;
    }
    .second_slider_height
    {
        height: 539px !important;
    }
    .img_padding
    {
        padding:4px;
    }
    .eco_friendly_content h2
    {
        margin-top: -85px;
    }
    .recent_project_three
    {
        height: 979px !important;
    }
    .curved
    {
        position: absolute;
        /* bottom: 10px; */
        left:65%;
        margin-top: 655px;
        width: 755px !important;
    }
    .curved_width
    {
        width: 755px !important;
    }
    .arrowz
    {
        margin-left: 72px;
    }
}